<meta charset="utf-8">
<title>
	{% if page.title == "Home" %}
		{{ site.title }} {{ site.tagline }}
	{% else %}
		{{ page.title }} {{ site.title }}
	{% endif%}
</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">

<!-- Webmaster Tools verfication -->
<meta name="google-site-verification" content="{{ site.google_verify }}">
<meta name="msvalidate.01" content="{{ site.bing_verify }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->

<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>


<!-- Icons -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
<link rel="shortcut icon" href="{{ site.url }}/favicon.png">
<link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/apple-touch-icon-144x144-precomposed.png">
