---
layout: default
---

<h1>{{ page.title }}</h1>
<h1>Catergories </h1>
<hr /> {% include tc/categories_list %} {% for category in site.categories %}
<h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
<ul>
    {% assign pages_list = category[1] %} {% include tc/pages_list %}
</ul>
{% endfor %}

<div class="col-span-3">
    <h3 itemprop="headline">Latest Posts</h3>
    <hr /> {% for post in site.posts limit:10 %}
    <p class="aside" itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title | strip_html | strip_newlines | truncate: 120}}</a></p>
    {% endfor %}
</div>
</div>
</div>
