---
layout: default
---

{% for post in site.posts %}  
   {% unless post.next %}
          <h1>{{ post.date | date: '%Y' }}</h1>
          <hr />
   {% else %}
       {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
       {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          {% if year != nyear %}
            <h1>{{ post.date | date: '%Y' }}</h1>
            <hr />
          {% endif %}
           {% endunless %}

              <article>
<h2><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
                <p itemprop="text">
                  {% if post.description %}
                           {{ post.description }} _ _ _ <strong><time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> "}}</time></strong>
                 {% else %}
                      {{ post.content | strip_html | strip_newlines | truncate: 120 }} _ _ _ <strong> <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> "}}</time></strong>
                 {% endif %}</p>
                  </article>
            {% endfor %}
           

<h3>Latest Posts </h3> 
<hr />
{% for post in site.posts limit:10 %}
<p class="aside"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title | strip_html | strip_newlines | truncate: 120}}</a></p>
{% endfor %}

<h3>Categories </h3>
<hr />
{% assign categories_list = site.categories %}
{% for category in  site.categories %} 
<a  class="btn btn-default btn-hover" href="{{ site.url}}/categories#{{ category[0] }}-ref">{{ category[0] }}</a>
{% endfor %}
